<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Vue Basics</title>
        <link
                href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
                rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>4-years Goals</h1>
        </header>
        <section id="user-goal">
            <h2>Declarative Course Goal</h2>
            <!--      <p v-html="outputGoal()"></p>-->
            <p>{{outputGoal()}}</p>

            <p>Visit our <a :href="siteLink" target="_blank">site for </a>more information</p>
        </section>
        <div id="app-7">
<!--            this id is given because of styling-->
            <section id="user-goal">
                <ul>
                    <todo-item v-for="item in groceryList" :todo="item" :key="item.id"></todo-item>
                </ul>
                <p v-html="goalhtml"></p>
            </section>
        </div>
<!--        events-->
        <div>
            <section id="events">
                <h2>Events in Action</h2>
                <input type="text" v-model="username">
                <button v-on:click="resetUserName">Reset</button><p>Your name: {{fullnames}}</p>
                <hr>
                <button v-on:click="addBtn()">+</button>
                <button v-on:click="removeBtn()">-</button>
                <p>Number  <input type="number"    v-on:input="addNumber($event)"></p>
<!--                <p v-once>Result: {{counter}}</p>-->
                <p >Result: {{counter}}</p>
            </section>
        </div>

        <div id="userForm">
            <section id="userDataForm">
                <form @submit.prevent="submitUserData" class="userdata" @keydown.enter="submitOnShift">
                    <input type="text" id="name">
                    <input type="password" id="password" autocomplete="on">
                    <button>Sign up</button>
                </form>

            </section>
        </div>
    </body>

</html>
